<div class="container">
<div class="page-header">
  <h1>Tiendas</h1>
</div>

    <% @stores.each do |store| %>
      
      <div class="container">
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
              <h3 class="media-heading"><%= store.name %></h3>
              <h5 class="text-right"><%= store.category %></h5>
              <p><%= store.description %></p>
              <div class="col-lg-offset-10">
                  <%= link_to 'Ver Tienda', store, class:"btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
        
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      -->  
 
    <% end %>


<br>

<%= link_to 'New Store', new_store_path %>
</div>